header {
    background-color: #120323;
    color: #97bf04;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}

img[src="images/puffin-square.webp"] {
    border: 5px solid #d9043d;
    max-width: 100%;
    height: auto;
}

figcaption {
    font-family: sans-serif;
}

aside {
    background-color: #97bf04;
    font-family: sans-serif;
}

footer {
    background-color: #d9043d;
    color: white;
    font-family: sans-serif;
}


@media screen and (min-width: 768px) and (max-width: 1000px) {
    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    main figure {
        display: flex;
        flex: auto;
        flex: 1;
        gap: 1rem;
    }
    img[src="images/puffin-square.webp"] {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 1000px) {
    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    main figure {
        display: flex;
        flex: auto;
        flex: 1;
        gap: 1rem;
    }
    img[src="images/puffin-square.webp"] {
        width: 300px;
        height: 300px;
    }
    div {
        display: flex;
        justify-content: flex-end;
        margin-right: auto;
        padding: 1rem;
        }
}