*{
    box-sizing: border-box;
}

header {
    margin: 0%;
    background-color: #120323;
    color: #97bf04;
    font-family: sans-serif;
    text-align: center;
    padding: 2em;
}
body {
    margin: 0%;
}

img[src="images/puffin-square.webp"] {
    border: 5px solid #d9043d;
    max-width: 100%;
    height: auto;
}

figcaption {
    font-family: sans-serif;
}

aside {
    background-color: #97bf04;
    font-family: sans-serif;
    width: fit-content;
    padding: 1em;
    margin-bottom: 1em;
}

footer {
    background-color: #d9043d;
    margin: 0%;
    color: white;
    font-family: sans-serif;
    padding: 1rem;
    text-align: center;
}


@media screen and (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    main figure {
        display: flex;
        flex: auto;
        flex: 1;
        gap: 1rem;
    }
    img[src="images/puffin-square.webp"] {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 1000px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        text-align: center;
    }
    main figure {
        display: flex;
        flex: auto;
        flex: 1;
        gap: 1rem;
    }
    img[src="images/puffin-square.webp"] {
        width: 300px;
        height: 300px;
    }
    div {
        display: flex;
        justify-content: flex-end;
        margin-right: auto;
        margin-top: 2rem;
        padding: 1rem;   
    }
}